* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 100vw;
    min-height: 100vh;
}

.article-one {
    position: sticky;
    top: 0;
    color: white;
    background-color: black;
}

section {
    padding: 1em;
}

section h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

nav {
    border: 2px solid #000000;
    height: 220px;
    overflow-y: scroll;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    border: 1px solid grey;
    border-left: none;
    padding: 1em;
}

nav li:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

a {
    color: unset;
    text-decoration: none;
}

/* styles for article-two */

h2 {
    padding: 0 0 1em .5em;
    font-size: 2rem;
    font-weight: 400;
}

p {
    padding: 0 0 0 2em;
    clear: right;
}

ul {
    padding: 0 0 0 6em;
}

.article-two ul li {
    margin-bottom: 1em;
}

div {
    background-color: #f7f7f7;
    width: 95%;
    float: right;
    border-radius: 5px;
    margin: 1em 0;
}

div p {
    font-size: .8rem;
    padding: .5em 2em;
    line-height: 2em;
}

.ref a {
    text-decoration: underline;
    color: red;
}


@media screen and (min-width: 769px) {
    body {
        display: flex;
    }

    .article-one {
        width: 25%;
        height: 100%;
        border-right: 4px solid;
        position: fixed;
        top: 0;
    }

    section h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    nav {
        height: 100%;
        overflow: hidden;
        border: none;
        font-size: 1rem;
    }

    nav li {
        border-right: none;
    }

    .article-two {
        width: 75%;
        position: absolute;
        left: 25%;
    }
}

